<!DOCTYPE html>
<html>
  <head>
    <link
      rel="icon"
      href="https://images.squarespace-cdn.com/content/v1/51d8762ae4b0c6a357c49ef2/1550617993310-ASJXISKWALS7LB0CY5TI/ke17ZwdGBToddI8pDm48kLXCf88_9uNTKXkq27cF4sB7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QHyNOqBUUEtDDsRWrJLTmzUsryC7riGV7bTeYhg5Sep4Y8p3OCJVqs3FfNTLch3O2M0DsfUdwheg190rC2-Re/Spotify-icon.jpg"
      type="image/x-icon"
    >
    <meta name="description" content="Tired of arguing over music at a party or a gathering? Here, make a virtual room
                add people with the unique RoomID, and let the members of the room control the music through a voting
                system."/>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Music Expanse</title>
    {% load static %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
    />
    <link rel="stylesheet" type="text/css" href="{% static "css/index.css" %}"
    />
  </head>
  <body>
    <div id="gradient">
      <div id="main">
        <div id="app"></div>
      </div>
    </div>
    <div id="root"></div>

    <script src="{% static "frontend/main.js" %}"></script>
  </body>
</html>
